* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-color: #067967;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: rgb(255, 255, 255);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position:static;
  bottom: 0;
  width: 100%;
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

form button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #006666;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #004c4c;
}

@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
